
/* * Base Styles */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FAFAFA;
}

h1,
h2,
h3 {
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 20px 15px;
}


p {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding-bottom: 30px;
  margin: 0 20px;
}

img {
  max-width: 90%;
  margin-bottom: 25px;
  margin-top: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* *Mobile First Styles */

a {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}

.navItem {
  align-items: center;
  background-color: white;
  margin: 3px 30px;
  padding: 2px 90px;
  
}


.profileImage {
  max-width: 70%;
  align-self: center;
  margin-top: 35px;
}

.portfolio {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 40px;
}

.contact {
  margin-bottom: 2em;
  padding-top: 40px;
}

.info {
  flex-direction: column;
}
.phone {
  margin-left: 1em;
}
.email {
  margin-left: 1em;
}


.footer {
  flex-direction: row;
  justify-content: space-between;
  padding: 1em .5em;
  border-top: solid 1px lightgrey;
}